 /* .i-container{
   display: flex;
 } */
 .carousel-item{
  height: 90vh;
} 
.nav{
  display: fixed;
  width: 100%;
}

.nav-row
{
  display: flex ;
  background-color:  #333;
  width: 100%;
} 
.col-item{
  flex: 3;
  margin-left: 10px;
}
.col{
  flex: 1;
  display: flex;
}

ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: auto;
  background-color: #333;
  display: flex;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col ul li a{
  margin-top: 10px;
}


li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  /* background-color: honeydew; */
  color: white;
  text-shadow: 0px 0px 10px  white;
}


h3{
  color: black;
}
p{
  color: black;
}
/* Footer Stuff */
footer{
  background-color: #333;
  color: white;
}
footer a{
  color: white;
}
