
<div class="i-container">
  <div class="nav">
    <div class="nav-row">
      <div class="col-item">
          <a href=landing>
            <ul>
              <li><a href=landing><img class="img" src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px" alt="ICEP Home gage"></a></li>
            </ul>
          </a>
      </div>
     <div class="col-items2">
      <ul>
          <li><a class="nav-link" href =services>Services</a></li>
          <li><a class="nav-link" href=about>About</a> </li>
          <li><a class="nav-link" href=projects>Projects</a></li>
          <li><a class="nav-link" href=contacts>Contacts</a></li>
          <li><a class="nav-link" href=register>Register</a></li>
          <li><a class="nav-link" href=login>Login</a></li>
      </ul>
     </div>
    </div>
  </div>              
        <div class ="inforX">

          <footer class="container-fluid text-center">
            <h3 class="text-light">About ICEP</h3>
          </footer>
          <p >
            ICEP is a community engagement programme initiated by the informatics department of 
            TUT. Said initial was engendered to, amongst other objectives, assist students, who’ve 
            completed all of their theoretical modules, obtain an internship. The internship exposes said 
            students to industry experiences and operations.
              <br><br>
            There, they are both educated apropos of the latest in industry technologies, tools, 
            methodologies, frameworks, and systems; but also, in the internalisation and application of 
            methodologies, frameworks, and systems; but also, in the internalisation and application of 
            technical, interpersonal, and conceptual knowledge.
              <br><br>
            Additionally, ICEP aims to improve the conditions of townships through the implementation 
            and continual support of I.T solutions. This aspect both proliferating upon the state-of-living 
            for residents; but, also facilitating the creation of entities to continue constructive social and 
            commercial operations.
            <br><br>
            Moreover, ICEP assists the university by providing rapid system solutions to aid with 
            impediments ebbing productivity. This is performed through the implementation of a well-
            structured system of operations and established business rules.
          </p>
          
         </div>

         <div class ="infor justify-content-center">
          <footer class="container-fluid text-center">
            <h3 class="text-light">Our Location</h3>
          </footer>

            <div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="580" id="gmap_canvas" src="https://maps.google.com/maps?q=tshwane%20university%20of%20technology&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.divi-discounts.com">plantilla de divi</a></div><style>.mapouter{position:relative;text-align:right;height:580px;width:1080px;}.gmap_canvas {overflow:hidden;background:none!important;height:580px;width:1080px;}</style></div>
        </div>

          <div class ="infor justify-content-center">

            <footer class="container-fluid text-center">
              <h3 class="text-light">More about ICEP</h3>
            </footer>
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/_91tr1Rgg0A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
          </div> 
          

          <div class ="infor justify-content-center">
              <footer class="container-fluid text-center">
                <h3 class="text-light">Our Partners</h3>
              </footer> 

              <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <img src="/assets/pictures/tuteh.png" width="100%" height="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/pictures/agile42.jpg" width="100%" height="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/pictures/aws.jpg" width="100%" height="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                  </div>
                </div>

            </div>
          
    </div> 

  
    
    
         <footer>
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://icep.co.za"> icep.ac.za</a>
          </div>
          <!-- Copyright -->
        </footer>
   

  </div>

