<div class="container">
    <div class = "wrapper">
      <div class = "nav">
        <div class = "senepe">
          <a href="/landing">
            <img src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px">
          </a>
      </div>
        <div class = "menu">
        <ul>
          <li><a class="nav-link" href ="/services   ">Services   </a></li>
            <li><a class="nav-link" href ="/about   ">About  </a> </li>
            <li><a class="nav-link" href="/projects  ">Projects  </a></li>
            <li><a class="nav-link" href=contacts   >Contacts  </a></li>
            <li> <a class="nav-link" href=partners   >Partners   </a>  </li> 
        </ul>
      </div>
    </div>
    
        <div class ="infor justify-content-center">
          <p>
            ICEP is a community engagement programme initiated by the informatics department of 
            TUT. Said initial was engendered to, amongst other objectives, assist students, who’ve 
            completed all of their theoretical modules, obtain an internship. The internship exposes said 
            students to industry experiences and operations.
              <br><br>
            There, they are both educated apropos of the latest in industry technologies, tools, 
            methodologies, frameworks, and systems; but also, in the internalisation and application of 
            methodologies, frameworks, and systems; but also, in the internalisation and application of 
            technical, interpersonal, and conceptual knowledge.
              <br><br>
            Additionally, ICEP aims to improve the conditions of townships through the implementation 
            and continual support of I.T solutions. This aspect both proliferating upon the state-of-living 
            for residents; but, also facilitating the creation of entities to continue constructive social and 
            commercial operations.
            <br><br>
            Moreover, ICEP assists the university by providing rapid system solutions to aid with 
            impediments ebbing productivity. This is performed through the implementation of a well-
            structured system of operations and established business rules.
          </p>
          
          
         </div>
    
    
    </div> 
  </div>

