<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class= "containerX">
<div class="nav">
  <div class="nav-row">
    <div class="col-item">
      <a href=landing>
        <ul>
          <li><a href=landing><img class="img" src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px" alt="ICEP Home gage"></a></li>
        </ul>
      </a>
  </div>
    <div class="col-items2">
      <ul>
        <p>USER DASHBOARD</p>
          <!-- <li><a class="nav-link" href =services>Services</a></li>
          <li><a class="nav-link" href= about> About </a> </li>
          <li><a class="nav-link" href=projects>Projects</a></li>
          <li><a class="nav-link" href=contacts>Contacts</a></li> -->
      </ul>
     </div>
    </div>
  </div>
</div>
 
   
 <div id = sidebar>
  <div class = "toggle-btn" onclick=" toggleSidebar() " >
    <span></span>
    <span></span>
    <span></span>
   </div>
   <li><a class="fa fa-user" href= profile > profile </a></li>
   <li><a class="fa fa-sign-in" href=register > Attendance Register </a></li>
   <li><a class="fa fa-book" href=logbook > Log Book </a></li>
   <li><a class="fa fa-envelope" href=announcements > Announcements </a></li>
   <li><a class="fa fa-hand-pointer" href= application >Apply For Intern</a></li>
    <!-- <li>Attendance Register</li>
    <li>Log Book</li>
    <li>Announcements</li> -->
</div>






