
<div class="container">
  <div class = "wrapper">
    <div class = "nav">
      <div class = "senepe">
        <a href="/landing">
          <img src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px">
        </a>
    </div>
      <div class = "menu">
      <ul>
        <li><a class="nav-link" href ="/services   ">Services   </a></li>
          <li><a class="nav-link" href ="/about   ">About  </a> </li>
          <li><a class="nav-link" href="/projects  ">Projects  </a></li>
          <li><a class="nav-link" href=contacts   >Contacts  </a></li>
          <li> <a class="nav-link" href=partners   >Partners   </a>  </li> 
      </ul>
    </div>
=======



<div class="i-container">
  <div class="nav">
    <div class="nav-row">
      <div class="col-item">
          <a href=landing>
            <ul>
              <li><a href=landing><img class="img" src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px" alt="ICEP Home gage"></a></li>
            </ul>
          </a>
      </div>
     <div class="col-items2">
      <ul>
          <li><a class="nav-link" href =services>Services</a></li>
          <li><a class="nav-link" href=about>About</a> </li>
          <li><a class="nav-link" href=projects>Projects</a></li>
          <li><a class="nav-link" href=contacts>Contacts</a></li>
          <li><a class="nav-link" href=register>Register</a></li>
          <li><a class="nav-link" href=login>Login</a></li>
      </ul>
     </div>
    </div>
  </div>


  <div>
    
  </div>





  <footer>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://icep.co.za"> icep.ac.za</a>
    </div>
    <!-- Copyright -->
  </footer>
  </div>
  
</div> 

                 
           <div class ="infor justify-content-center">
            <div style="text-align:center">
              <h3>Contact Us</h3>
            </div>

          <div style="text-align:center">
            <h3>Email: Phurutsimb@tut.ac.za</h3>
            <h3>Contact Number: 012 382 9796 </h3>   
            <h3>Address: 2 Aubrey Matlakala</h3>
            <h3>Soshanguve, Pretoria</h3>
            <h3>Postal Code: 0152</h3>
          </div>
        </div> 
        
            <div class="container">
              <div class="row">
                <div class="column">
                </div>
                <div class="column">

                  <div style="text-align:center">
                    <h3>For Enquiries</h3>
                  </div>
                  <form action="/action_page.php">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                    <label for="email">E Mail</label>
                    <input type="text" id="email" name="email" placeholder="Your E mail..">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" placeholder="Your Subject..">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" placeholder="Write something.." style="height:170px"></textarea>
                    <input type="submit" value="Submit">
                  </form>
                </div>
              </div>
            </div>


</div>

