<div class="container">
  <div class = "wrapper">
    <div class = "nav">
      <div class = "senepe">
        <a href="/landing">
          <img src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px">
        </a>
    </div>
      <div class = "menu">
      <ul>
        <li><a class="nav-link" href ="/services   ">Services   </a></li>
          <li><a class="nav-link" href ="/about   ">About  </a> </li>
          <li><a class="nav-link" href="/projects  ">Projects  </a></li>
          <li><a class="nav-link" href=contacts   >Contacts  </a></li>
          <li> <a class="nav-link" href=partners   >Partners   </a>  </li> 
      </ul>
    </div>
  </div>
                 
      

        <div class ="infor justify-content-center">

          <footer class="container-fluid text-center">
            <h3></h3>
            <h3>Email: Phurutsimb@tut.ac.za</h3>
            <h3>Contact Number: 012 382 9796 </h3>   
            <h3>Address: 2 Aubrey Matlakala</h3>
            <h3>Soshanguve, Pretoria</h3>
            <h3>Postal Code: 0152</h3>
          </footer>
        </div> 
        

        <div class ="infor justify-content-center">
            <footer class="container-fluid text-center">
              <h3>Location</h3>
            </footer> 

            <div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="580" id="gmap_canvas" src="https://maps.google.com/maps?q=tshwane%20university%20of%20technology&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.divi-discounts.com">plantilla de divi</a></div><style>.mapouter{position:relative;text-align:right;height:580px;width:1080px;}.gmap_canvas {overflow:hidden;background:none!important;height:580px;width:1080px;}</style></div>
        </div>
        
       

  </div> 
</div>

