<div class="container">
    <div class = "wrapper">
      <div class = "nav">
        <div class = "senepe">
          <a href="/landing">
            <img src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px">
          </a>
      </div>
        <div class = "menu">
        <ul>
          <li><a class="nav-link" href ="/services   ">Services   </a></li>
            <li><a class="nav-link" href ="/about   ">About  </a> </li>
            <li><a class="nav-link" href="/projects  ">Projects  </a></li>
            <li><a class="nav-link" href=contacts   >Contacts  </a></li>
            <!-- <li> <a class="nav-link" href=partners   >Partners   </a>  </li>  -->
          <li><a href="/register">Apply</a></li>
        </ul>
      </div>
    </div>
    
        <div class = header>
          <h3>
            Phurutsimb@tut.ac.za <br>
            012 382 9796 <br>
             soshanguve block <br>
             aubrey matlakala <br>
             0152 <br>
           </h3>


        </div>
    
    </div> 
  </div>
    
  
     
  
       