
<div class="i-container">
  <div class="nav">
    <div class="nav-row">
      <div class="col-item">
          <a href=landing>
            <ul>
              <li><a href=landing><img class="img" src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px" alt="ICEP Home gage"></a></li>
            </ul>
          </a>
      </div>
     <div class="col">
      <ul>
          <li><a class="nav-link" href =services>Services</a></li>
          <li><a class="nav-link" href=about>About</a> </li>
          <li><a class="nav-link" href=projects>Projects</a></li>
          <li><a class="nav-link" href=contacts>Contacts</a></li>
      </ul>
     </div>
    </div>
  </div>

  <div>
    
  </div>

  <footer>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://icep.co.za"> icep.ac.za</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
      
  
  