   <div class="container">
    <div class = "wrapper">
      <div class = "nav">
          <div class = "senepe">
            <a href="/landing">
              <img src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px">
            </a>
          </div>
        <div class = "menu">
        <ul>
            <li><a class="nav-link" href ="/services   ">Services   </a></li>
            <li><a class="nav-link" href ="/about   ">About  </a> </li>
            <li><a class="nav-link " href="/register  ">Home  </a></li>
            <li><a class="nav-link" href=contacts   >Contacts  </a></li>
            <!-- <li> <a class="nav-link" href=partners   >Partners   </a>  </li> -->
        </ul>
      </div>
    </div>
    </div>
    <div class="images">
      <div class="row ">
        <div class="col">
          <div class="images">
            <div >
            <img src = "/assets/pictures/elections.jpg" >
          </div>
    
          <div class = "aws"> 
           <img src = "/assets/pictures/sphahlo.jpg">
          </div>
        </div>
        <div class="col">
          <div class = "tut">
            <img src = "/assets/pictures/khuluma.jpg">
          </div>
     
          <div class = "tut">
             <img src = "/assets/pictures/mentor.jpg">
          </div>
        </div>
  
       </div>
      </div> 
    </div>
    
   </div>
      
    
  