<div class="container">
    <div class = "wrapper">
      <div class = "nav">
        <div class = "senepe">
          <a href="/landing">
            <img src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px">
          </a>
      </div>
        <div class = "menu">
        <ul>
          <li><a class="nav-link" href ="/landing   ">Home   </a></li>
            <li><a class="nav-link" href ="/about   ">About  </a> </li>
            <li><a class="nav-link" href="/projects  ">Projects  </a></li>
            <li><a class="nav-link" href=contacts   >Contacts  </a></li>
            <!-- <li> <a class="nav-link" href=partners   >Partners   </a>  </li>  -->
            <li><a class="nav-link" href="/application">Apply</a></li>
        </ul>
      </div>
    </div>
</div> 
        <div class = header>
          <h1>INFORMATICS COMMUNITY ENGAGEMENT PROGRAMME</h1>
          <p>We are the new future</p>
          <div class="row">
            <div class="col">
              <h2 class="text-info">WEB</h2> 
              <h6>Website design</h6> 
              <h6>Website development</h6> 
              <h6>eCommerce websites</h6> 
              <h6>Online RSVP systems</h6>  
              <h6>Content Management Systems</h6> 
              <h6>Search Engine Optimisation</h6>  
              <h6>User interface design</h6> 
            </div>
            <div class="col">
              <h2 class="text-info">MOBILE</h2>
            <h6>Mobile app design</h6>
            <h6>App Development</h6>
            <h6>User Experience Design</h6>
            <h6>Conceptual Business Analysis</h6>
            </div>
          </div>
         
      
      
            
        </div>
    
    
  </div>

   